In [13]:
# Repeated measure anova
# Data for Weight Loss Program
Person <- c("Al", "Bill", "Charlie", "Dan", "Ed", "Fred", "Gary", "Harry", "Irv", "Jon")
Before <- c(198, 201, 210, 185, 204, 156, 167, 197, 220, 186)
One_Month_After <- c(194, 203, 200, 183, 200, 153, 166, 197, 215, 184)
Two_Months_After <- c(191, 200, 192, 180, 195, 150, 167, 195, 209, 179)
Three_Months_After <- c(188, 196, 188, 178, 191, 145, 166, 192, 205, 175)

In [45]:
Weight_Loss <- data.frame(Person, Before, One_Month_After, Two_Months_After, Three_Months_After, stringsAsFactors=FALSE)

In [46]:
Weight_Loss

   Person  Before One_Month_After Two_Months_After Three_Months_After
1  Al      198    194             191              188
2  Bill    201    203             200              196
3  Charlie 210    200             192              188
4  Dan     185    183             180              178
5  Ed      204    200             195              191
6  Fred    156    153             150              145
7  Gary    167    166             167              166
8  Harry   197    197             195              192
9  Irv     220    215             209              205
10 Jon     186    184             179              175

In [47]:
Weight_Loss <- rbind(Weight_Loss, sapply(Weight_Loss, mean))

Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”

In [49]:
Weight_Loss

   Person  Before One_Month_After Two_Months_After Three_Months_After
1  Al      198.0  194.0           191.0            188.0
2  Bill    201.0  203.0           200.0            196.0
3  Charlie 210.0  200.0           192.0            188.0
4  Dan     185.0  183.0           180.0            178.0
5  Ed      204.0  200.0           195.0            191.0
6  Fred    156.0  153.0           150.0            145.0
7  Gary    167.0  166.0           167.0            166.0
8  Harry   197.0  197.0           195.0            192.0
9  Irv     220.0  215.0           209.0            205.0
10 Jon     186.0  184.0           179.0            175.0
11 Mean    192.4  189.5           185.8            182.4

In [55]:
Weight_Loss <- cbind(Weight_Loss, apply(Weight_Loss[, 2:5], 1, mean))

In [59]:
colnames(Weight_Loss)[6] <- "Mean"

In [60]:
Weight_Loss

   Person  Before One_Month_After Two_Months_After Three_Months_After Mean
1  Al      198.0  194.0           191.0            188.0              192.750
2  Bill    201.0  203.0           200.0            196.0              200.000
3  Charlie 210.0  200.0           192.0            188.0              197.500
4  Dan     185.0  183.0           180.0            178.0              181.500
5  Ed      204.0  200.0           195.0            191.0              197.500
6  Fred    156.0  153.0           150.0            145.0              151.000
7  Gary    167.0  166.0           167.0            166.0              166.500
8  Harry   197.0  197.0           195.0            192.0              195.250
9  Irv     220.0  215.0           209.0            205.0              212.250
10 Jon     186.0  184.0           179.0            175.0              181.000
11 Mean    192.4  189.5           185.8            182.4              187.525

In [61]:
# is the program effective?
# H0: mean(before) = mean(One_Month_After) = mean(Two_Months_After) = mean(three_Months_After)
# H1: Not H0

In [109]:
# The SST for this table is
(SST <- c(sum((Weight_Loss$Before - 187.525)[1:10] ** 2), sum((Weight_Loss$One_Month_After[1:10] - 187.525) ** 2), sum((Weight_Loss$Two_Months_After[1:10] - 187.525) ** 2), sum((Weight_Loss$Three_Months_After[1:10] - 187.525) ** 2)))

[1] 3636.056 3125.506 2719.356 2929.056

In [113]:
# The MST is
sum(SST)
sum(SST) / (40 - 1)

[1] 12409.98

[1] 318.2045

In [116]:
# The SS(Row) is
(SSRow <- c((Weight_Loss$Mean - 187.525)[1:10] ** 2))

 [1]   27.30062  155.62562   99.50062   36.30063   99.50062 1334.07563
 [7]  442.05063   59.67562  611.32562   42.57563

In [118]:
sum(SSRow) * 4
sum(SSRow) * 4 / (10 - 1)

[1] 11631.73

[1] 1292.414

In [92]:
# The SS(column) is
(SScolumn <- c((Weight_Loss[11,2:5] - 187.525) ** 2))

$Before
[1] 23.76562

$One_Month_After
[1] 3.900625

$Two_Months_After
[1] 2.975625

$Three_Months_After
[1] 26.26562

In [120]:
sum(unlist(SScolumn)) * 10
sum(unlist(SScolumn)) * 10 / (4 - 1)

[1] 569.075

[1] 189.6917

In [128]:
# Calculate MS(Error)
round((sum(SST) - (sum(SSRow) * 4) - (sum(unlist(SScolumn)) * 10)) / ((40 - 1) - (10 - 1) - (4 - 1)), 2)

[1] 7.75

In [132]:
# The F ststistic is
# MS(column) / MS(Error)
round(round(sum(unlist(SScolumn)) * 10 / (4 - 1), 2) / 7.75, 2)

[1] 24.48

In [133]:
# with alpha = 0.05, the critcal f value is
qf(0.05, df1 = 3, df2 = 27, lower.tail=FALSE)

[1] 2.960351

In [134]:
# since 24.48 is way bigger than 2.96, we can reject the null hypothesis

In [135]:
# using aov() to get the result

In [138]:
library(reshape2)

In [166]:
Weight_Loss.melt <- melt(Weight_Loss[1:10, 1:5], id="Person")
colnames(Weight_Loss.melt) <- c("Person", "Time", "Weight")

In [167]:
head(Weight_Loss.melt)

  Person  Time   Weight
1 Al      Before 198
2 Bill    Before 201
3 Charlie Before 210
4 Dan     Before 185
5 Ed      Before 204
6 Fred    Before 156

In [153]:
# this is the SS(within) without taking person and the different time each person experience into consideration
sum((Weight_Loss$Before[1:10] - Weight_Loss$Before[11]) ** 2) + sum((Weight_Loss$One_Month_After[1:10] - Weight_Loss$One_Month_After[11]) ** 2) + sum((Weight_Loss$Two_Months_After[1:10] - Weight_Loss$Two_Months_After[11]) ** 2) + sum((Weight_Loss$Three_Months_After[1:10] - Weight_Loss$Three_Months_After[11]) ** 2)

[1] 11840.9

In [168]:
# we can replicate the result using aov()
without_person_time <- aov(Weight ~ Time, data = Weight_Loss.melt)

In [169]:
summary(without_person_time) # the residual only take the different time into account

            Df Sum Sq Mean Sq F value Pr(>F)
Time         3    569   189.7   0.577  0.634
Residuals   36  11841   328.9

In [172]:
# we can modify the independent variable to get the correct result
with_person_time <- aov(Weight ~ Time + Error(Person/Time), data = Weight_Loss.melt)

In [173]:
summary(with_person_time)

Error: Person
          Df Sum Sq Mean Sq F value Pr(>F)
Residuals  9  11632    1292

Error: Person:Time
          Df Sum Sq Mean Sq F value  Pr(>F)
Time       3  569.1  189.69   24.48 7.3e-08 ***
Residuals 27  209.2    7.75
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [174]:
# this take into consideration of different person at differrent time, and it generate the same result as above
# since the F value (24.48) > (2.96), we can reject the null hypothesis